<script setup lang="ts">
const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  image_header: {
    type: String,
  },
  description: {
    type: String,
  },
  link: {
    type: String,
    required: true,
  },
})

</script>

<template>
  <!-- <div class="md p-4 md:w-1/2" style="max-width: 544px;"> -->
  <div >
    <div class="h-full overflow-hidden rounded-md border-2 border-gray-200 border-opacity-60 dark:border-gray-700 text-left">
      <a v-if="image_header" :href="link">
        <span
          style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"
        >
          <span
            style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"
          >
            <img
              aria-hidden="true"
              src="data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 version=%271.1%27 width=%27544%27 height=%27306%27/%3e"
              style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"
            >
          </span>
          <img
            :alt="title"
            :src="image_header"
            class="object-cover object-center md:h-36 lg:h-48"
            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
          >
        </span>
      </a>
      <div class="p-6">
        <h2 class="mb-3 text-2xl font-bold">
          <a
            :href="link"
            :aria-label="title"
          >{{title}}</a>
        </h2>
        <div :class="'prose mb-3 max-w-none text-gray-500 dark:text-gray-400 text-clip overflow-hidden '+(image_header? 'h-30':'h-71')" v-html="description" />
        <a
          :href="link"
          class="text-base font-medium leading-6 text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
          :aria-label="title"
        >Learn more →</a>
      </div>
    </div>
  </div>
</template>
