<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="container">
    <div class="grid grid-cols-1 gap-4 2xl:grid-cols-5"
         sm="grid-cols-2"
         lg="grid-cols-3"
         xl="grid-cols-4">
      <Card v-for="element in result" :key="element" v-bind="element"/>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  result: {
    type: Object,
    required: true,
  },
})
</script>
