<script setup lang="ts">
const props = defineProps(['placeholder', 'value'])
const emit = defineEmits({ input: Object, change: Object })

</script>
<template>
  <div class="flex justify-center">
    <div class="mb-3 xl:w-96">
      <input
        type="search"
        class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        :placeholder="placeholder"
        @input="$emit('input',$event)"
        @change="$emit('change',$event)"
      >
    </div>
  </div>
</template>
