<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <Disclosure v-slot="{ open }" as="nav" class="dark:bg-gray-800">
    <div class="container mx-auto px-2 sm:px-6 lg:px-8 border-gray-200 border-solid border-2 rounded-md">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <DisclosureButton class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <div v-if="!open" class="i-mdi-menu block h-6 w-6" aria-hidden="true" />
            <div v-else class="i-mdi-close block h-6 w-6" aria-hidden="true" />
          </DisclosureButton>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <NuxtLink to="/" class="h-12 flex-shrink-0 flex items-center space-x-4">
            <img class="block h-12" src="~/assets/images/beaaaarrro128.png" alt="Sample blog">
            <div class="hidden lg:block" font="mono" text="dark:white">
              Sample blog
            </div>
          </NuxtLink>
          <div class="hidden sm:block sm:ml-6 my-auto">
            <div class="flex space-x-4">
              <NuxtLink
                v-for="item in navigation" :key="item.name" :to="item.href"
                :class="[$route.path === item.href ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'px-3 py-2 rounded-md text-sm font-medium']"
                :aria-current="item.current ? 'page' : undefined"
              >
                {{ item.name }}
              </NuxtLink>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <DarkToggle />
        </div>
      </div>
    </div>

    <DisclosurePanel class="sm:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <NuxtLink
          v-for="item in navigation" :key="item.name" :to="item.href"
          :class="[item.current ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'block px-3 py-2 rounded-md text-base font-medium']"
          :aria-current="item.current ? 'page' : undefined"
        >
          {{ item.name }}
        </NuxtLink>
      </div>
    </DisclosurePanel>
  </Disclosure>
</template>

<script setup>
import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'

const navigation = [
  { name: 'Home', href: '/' },
  { name: 'Search', href: '/search' },
]
</script>
