<script setup lang="ts">
const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  image_header: {
    type: String,
  },
  post: {
    type: String,
  },
  created: {
    type: String,
    required: true,
  },
  user: {
    type: Object,
    required: true,
  },
})
const createdDate = computed(() => {
  return new Date(props.created)
})

</script>

<template>
  <article class="relative pt-10 max-w-3xl mx-auto xl:max-w-none xl:grid xl:grid-cols-[1fr_50rem] xl:gap-x-8">
    <h1 class="col-span-full text-3xl sm:text-4xl sm:text-center xl:mb-16 font-extrabold tracking-tight text-slate-900 dark:text-slate-200">
      {{title}}
      <img v-if="image_header" :src="image_header" class="object-cover max-h-50vh w-100% pt-4" />
    </h1>

    <div class="text-sm leading-6 mb-16 xl:mb-0">
      <div class="hidden mb-5 pb-5 border-b border-slate-200 xl:block dark:border-slate-200/5">
        <a
          class="group flex font-semibold text-slate-700 hover:text-slate-900 dark:text-slate-200 dark:hover:text-white"
          @click.prevent="$router.go(-1)" href=""
        >
          <div class="i-mdi-chevron-left block h-6 w-6" aria-hidden="true" />
          Go back to blog
        </a>
      </div>
      <dl>
        <dt class="sr-only">
          Date
        </dt>
        <dd
          class="absolute top-0 inset-x-0 text-slate-700 sm:text-center dark:text-slate-400"
        >
          <time :datetime="createdDate.toString()">{{createdDate.toDateString()}}</time>
        </dd>
        <div class="sm:flex sm:flex-wrap justify-center xl:block">
          <dt class="sr-only">
            Authors
          </dt>
          <dd class="flex items-left font-medium mt-6 sm:mx-3 xl:mx-0">
            <div>
              <div class="text-slate-900 dark:text-slate-200">
                Author: {{user.username}}
              </div>
              <a
                :href="'mailto:'+user.email"
                class="text-sky-500 hover:text-sky-600 dark:text-sky-400"
              >{{user.email}}</a>
            </div>
          </dd>
        </div>
      </dl>
    </div>
    <div class="prose prose-slate dark:prose-dark text-left" v-html="post" />
  </article>
</template>
