<template>
  <div>
    <NavBar></NavBar>
    <Suspense>
      <div class="container">
        <Post v-bind="data" class="my-8"/>
      </div>
      <template #fallback>
        <div op50 italic>
          <span animate-pulse>Loading...</span>
        </div>
      </template>
    </Suspense>
  </div>
</template>

<script setup lang="ts">
const route = useRoute()
const url_fetch = 'http://api.blog.localhost:8000/blog/posts/'
const { data } = await useFetch(url_fetch + route.params.slug)
console.log(data.value)
</script>
