<script setup lang="ts">
const url_fetch = 'http://api.blog.localhost:8000/blog/posts/'
const { data } = await useFetch(url_fetch)
const results = data.value?.results

</script>
<template>
  <div>
    <NavBar></NavBar>
    <Suspense>
      <div class="container">
        <div class="space-y-2 pt-6 pb-8 md:space-y-5 text-left">
          <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
            Blog
          </h1>
          <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
            Sample blog list</p>
        </div>
        <CardList :result=results />
      </div>
      <template #fallback>
        <div op50 italic>
          <span animate-pulse>Loading...</span>
        </div>
      </template>
    </Suspense>
  </div>
</template>
