<script setup lang="ts">
const url_fetch = 'http://api.blog.localhost:8000/blog/posts/?search='
const search = ref()
const result = ref()

// watch works directly on a ref
watch(search, async() => {
  const { data } = await useFetch(url_fetch + search.value)
  result.value = data.value.results
})
</script>

<template>
  <div>
    <NavBar />
    <Suspense>
      <div>
        <div class="space-y-2 pt-6 pb-8 md:space-y-5 text-left">
          <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
            Search
          </h1>
          <div class="flex justify-center">
            <div class="mb-3 xl:w-96">
              <input
                v-model="search"
                type="search"
                class="
                      form-control
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Search"
              >
            </div>
          </div>
        </div>
        <CardList :result="result" />
      </div>
      <template #fallback>
        <div op50 italic>
          <span animate-pulse>Loading...</span>
        </div>
      </template>
    </Suspense>
  </div>
</template>
